<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="manifest" href="/js/pwa.webmanifest">
    <title>Tambola</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>OOPS!YOU LOST</h1>
    <a href="/">Back To Game</a>

    <p>
      User must be already logged in or you must have made a incorrect claim
      thus is disbarred from the game.
    </p>
  </body>
  <script src="/js/pwa.js"></script>
</html>
