<p>Game list</p>
<link rel="manifest" href="/js/pwa.webmanifest">
<div>
    <p>Next game</p>
    <% if(!nextGame.payment){ %>
        <button>Pay</button>
    <% } %>

    <a href="/game-start/<%= uid %>/<%= nextGame.data._id %>" >Play game</a>

</div>
<script src="/js/pwa.js"></script>



