<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Bingo</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta content="" name="keywords" />
    <meta content="" name="description" />

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/jquery.js"></script>
    <script src="/js/popper.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/css/game.css" />
    <link rel="stylesheet" href="/css/game2.css" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168783496-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168783496-1');
    </script>

  </head>
  <body>
    <audio loop id="myAudio" >
      <source src="/background.mp3" type="audio/mpeg">
      Your browser does not support the audio element.
    </audio> 
     <div class="loader">
      <div class="spinner-border" style="color: #03e9f4;" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>

    <div class="toast"
    role="alert"
    style="margin: auto; position: fixed; z-index: 1;left: 50%;transform: translate(-50%, 0);top: 10px;"
    aria-live="assertive"
    aria-atomic="true"
    data-delay="4000">
      <div class="toast-header">
        <strong class="mr-auto toast-message"></strong>
        <button
          type="button"
          class="ml-2 mb-1 close"
          data-dismiss="toast"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>

    <!-- The Modal -->
    <!-- <div id="myModal" class="modal">
      <div class="modal-content">
        <span class="closem">&times;</span>
        <p style="text-align: center;">Switch to landscape mode, for smooth functioning of game. Ticket would not be displayed on portrait mode.</p>
        <button class="btn btn-info" onclick="rotate(this)">Switch</button>
      </div>
    </div> -->

    <div class="game-ended jumbotron jumbotron-fluid" style="margin-top: 50px;">
      <div class="container">
        <h1 class="display-4">OOP's!!!</h1>
        <p class="lead">Today's game has ended. Come back tommorow.</p>
      </div>
    </div>

    <div class="wait jumbotron jumbotron-fluid" style="margin-top: 50px;">
      <div class="container">
        <h1 class="display-4">Waiting!!!</h1>
        <p class="lead">
          Please wait as there is still some time for the game to begin.
        </p>
        <p id="timer"></p>
        <p>Game will automatically start.</p>
      </div>
    </div>


    <div class="play"> 
      <div id="background-wrap">
        <div class="bubble x1"></div>
        <div class="bubble x2"></div>
        <div class="bubble x3"></div>
        <div class="bubble x4"></div>
        <div class="bubble x5"></div>
        <div class="bubble x6"></div>
        <div class="bubble x7"></div>
        <div class="bubble x8"></div>
        <div class="bubble x9"></div>
        <div class="bubble x10"></div>
    </div>


    <div class="container-fluid" style="margin-top: 45px;">
        <div class="row" style="width: inherit;margin: auto;">
            <div class="col-6" style="margin: auto;padding-left: 0;">
                <div class="col-sm-12" id="word-display">
                    <h2 class="nextnumber"></h2>
                </div>
                <div class="col-sm-12" id="timer">
                    <h5 class="timer"></h5>
                </div>
            </div>
            <div class="col-6" id="words-batch">
                <div class="row">
                    <div class="showesWordsRow1">
                    </div>
                    <div class="showesWordsRow2">
                    </div>
                    <div class="showesWordsRow3">
                    </div>
                    <div class="showesWordsRow4">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid" id="ticket">
        <div class="row row1">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
        <div class="row row2">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
        <div class="row row3">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
        <div class="row row4">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
        <div class="row row5">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
        <div class="row row6">
          <div class="col-4"></div>
          <div class="col-4"></div>
          <div class="col-4"></div>
        </div>
    </div>

    <div class="conatiner-fluid" id="claim_btns">
        <div class="row">
            <button class="btn claim first-column" id="claim-ticket">First Column</button>
            <button class="btn claim second-column" id="claim-ticket">Second Column</button>
            <button class="btn claim third-column" id="claim-ticket">Third Column</button>
        </div>

        <div class="row">
            <button class="btn claim full-house" id="claim-ticket">Full House</button>
            <button class="btn claim first-five" id="claim-ticket">First Five</button>
        </div>

    </div>
    </div>
  </body>

  <script src="/js/firebase-app.js"></script>
  <script src="/js/firebase-auth.js"></script>
  <script src="/js/socket.js"></script>
</html>
