<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
</head>
<body>
    <form action="/add-game" method="post">
        <input type="text" name="time1" id="" value="06 14 2020 00:00:00 GMT+0530">
        <input type="text" name="time2" id="" value="06 14 2020 00:00:00 GMT+0530">
        <button type="submit">Submit</button>
    </form>
</body>
</html>