<p>Game list</p>
<div>
    <script> function requestFullScreen() {

        var el = document.body;
      
        // Supports most browsers and their versions.
        var requestMethod = el.requestFullScreen || el.webkitRequestFullScreen 
        || el.mozRequestFullScreen || el.msRequestFullScreen;
      
        if (requestMethod) {
      
          // Native full screen.
          requestMethod.call(el);
      
        } else if (typeof window.ActiveXObject !== "undefined") {
      
          // Older IE.
          var wscript = new ActiveXObject("WScript.Shell");
      
          if (wscript !== null) {
            wscript.SendKeys("{F11}");
          }
        }
      }
      
      
      </script>
      <a href="#" onClick="requestFullScreen();"> click </a>


    <p>Next game</p>
    <% if(!nextGame.payment){ %>
        <button>Pay</button>
    <% } %>

    <a href="/game-start/<%= uid %>/<%= nextGame.data._id %>" >Play game</a>

</div>



