<!DOCTYPE html>
<html>
    <head>
        <title>Hello world</title>
        <script src = "/socket.io/socket.io.js"></script>
        <link rel="stylesheet" href="css/bootstrap.css">
    </head>
    <style>
        .login, .homepage, .game, .wait, .play, .logout, .game-ended{
            display: none;
        }
        .login h1{
            text-align: center;
        }
        .login{
            margin-top: 50px;
        }
        .game{
            margin-top: 80px;
        }
         .ticket td{
            width: 50px;
            height: 40px;
            cursor: pointer;
            text-align: center;
            border: 1px black solid;

         }
         .half{
            width: 50%;
         }
         .tick{
             float: left;
         }
         .shownNumber span{
            width: 50px;
            display: inline-block;
            height: 30px;
            border: 1px solid;
            margin: 1px;
         }
         .shownNumber{
            margin: 20px auto;
            width: 70%;
            text-align: center;
         }
         .clicked-cell {
            background: #593C3C5C;
            pointer-events: none;
            border-radius: 10px;
        }
        .wrong-clicked-cell {
            background: #F91111C9;
            pointer-events: none;
            border-radius: 10px;
        }
        .not-clickable{
            pointer-events: none;
        }
        .play p{
            margin-top: 80px;
            font-size: 30px;
            text-align: center;
        }
        .nextnumber{
            display: inline-block;
            margin-left: 50px;
            font-size: 50px;
            width: 100px;
            border: 1px solid;
            text-align: center;
            height: 100px;
        }
    </style>
    <body>
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="#">
              Bingo
            </a>
            <button onClick="signOut()" class="logout btn btn-outline-danger my-2 my-sm-0" type="submit">Sign Out</button>
        </nav>
    
        <div class="login container col-sm-5">
            <h1>Login</h1>
            <div class="toast" role="alert" style="margin:auto;" aria-live="assertive" aria-atomic="true" data-delay="1000000">
                <div class="toast-header">
                  <strong class="mr-auto">OTP sent...</strong>
                  <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            </div>

            
            <div class="form-group">
                <label for="username">Username</label>
                <input class="form-control" name="username" id="username" type="text" placeholder="Enter username">    
            </div>

            <div class="form-group">
                <label for="phone">Mobile number</label>
                <input class="form-control" type="text" name="phone" id="phone" placeholder="Enter number with country code">
        
            </div>
            <div class="form-group">
                <button class="btn btn-outline-secondary" onClick="submitPhone()">Send Code</button>
            </div>
            

            <div class="form-group">
                <label for="code">OTP Code:</label>
                <input class="form-control" type="text" name="code" id="code" placeholder="Enter otp">
            </div>
            
            
            <div class="form-group">
                <button class="btn btn-outline-info" onClick="submitCode()">Log In</button>
            </div>
        </div>

        <div class="homepage">
            

            <p>Welcome to bingo</p>
            <p>Game will commence everyday at 10PM.</p>
            <button class="payBtn">Click to Pay </button>
            <p>Charges are Rs. 50</p>

            
        </div>
 

        <div class="game">
            <div class="game-ended jumbotron jumbotron-fluid">
                <div class="container">
                    <h1 class="display-4">OOP's!!!</h1>
                    <p class="lead">Today's game has ended. Come back tommorow.</p>
                </div>
            </div>
            <div class="wait">Wait time not started</div>
            <div class="play">
                <div class="nextnumber half"></div>
    
                <div class="half tick">
                    <table class="ticket">
                        <tbody>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
                <button class="claim full-house">Full House</button>
                <button class="claim top-row">Top Row</button>
                <button class="claim middle-row">Middle Row</button>
                <button class="claim bottom-row">Bottom Row</button>
                <button class="claim first-five">First Five</button>
            
                <h1 class="timer"></h1>
            
                <p>Disclosed Number</p>
                <div class="shownNumber"></div>
            
                <button onclick="setStorage()">Set storage</button>
                <button onclick="getStorage()">get storage</button>
            </div>
        </div>
 


        <div id="recaptcha-container"></div>
    </body>

    <script src="js/jquery.js"></script>
    <script src="js/popper.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/firebase-app.js"></script>
    <script src="js/firebase-analytics.js"></script>
    <script src="js/firebase-auth.js"></script>
    <script src="js/firbase_login_script.js"></script>
    <script src="js/socket.js"></script>
    
</html>     