<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>Payment Screen</title>
  </head>
  <body>
    <style>
      body {
        background-color: orange;

        height: 100%;
      }
      .btn {
        color: #ffffff;
        background-color: #1d093a;
        border: none;
        padding: 10px;
        border-radius: 20px;
      }
      .container {
        justify-content: center;
        padding: 300px;
      }

      .payment {
        display: flex;
        flex-direction: column;
      }
    </style>
    <div class="container">
      <button class="btn">Pay using UPI</button>
      <button class="btn">Pay using Paypal</button>
    </div>
  </body>
</html>
