@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500;700&display=swap");
:root {
  --background: #303030;
  --foreground: #424242;
  --text-color: #ffffff;
  --text-color-2: rgba(255, 255, 255, 0.6);
  --primary-color: #e91e63;
  --elevation-z1: 0 2px 1px -1px rgba(0, 0, 0, 0.2),
    0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  --elevation-z2: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
    0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
  --hover: rgba(255, 255, 255, 0.04);
  --thumb: rgba(0, 0, 0, 0.25);
  --min-width: 400px;
  --max-width: 900px;
}



::-webkit-scrollbar {
  height: 4px;
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background: var(--thumb);
  border-radius: 5px;
}



body {
  height: 100%;
  color: var(--text-color);
  font-family: "Roboto", sans-serif;
}

.accordianroot .container {
  height: 100%;
  padding: 16px;
  display: grid;
  align-content: space-between;
}

.accordianroot main {
  padding: 16px;
  width: 100%;
  margin: 0 auto;
}

.accordianroot .page-title {
  font-size: 12px;
  text-align: center;
}

.accordianroot .accordion {
  width: 100%;
  max-width: var(--max-width);
  border-radius: 4px;
  margin: 0 auto;
}

.accordianroot .expansion-panel {
  box-shadow: var(--elevation-z1);
  width: 100%;
  position: relative;
  background: var(--foreground);
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}
.accordianroot .expansion-panel:nth-child(1) {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.accordianroot .expansion-panel:nth-last-child(1) {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.accordianroot .expansion-panel-header {
  height: 48px;
  cursor: pointer;
  outline: 0;
  width: 100%;
  background: none;
  border: 0;
  color: inherit;
  padding: 16px 24px;
  text-align: initial;
}
.accordianroot .expansion-panel-header-content {
  width: 100%;
  display: grid;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  grid-auto-flow: column;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.accordianroot .expansion-panel-header .expansion-panel-description {
  color: var(--text-color-2);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 16px;
  font-size: 14px;
}
.accordianroot .expansion-panel-header .expansion-panel-indicator {
  border-style: solid;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  vertical-align: middle;
  width: 8px;
  height: 8px;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
}

.accordianroot .expansion-panel-body {
  min-height: 0px;
  height: 0;
  -webkit-transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: all 225ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  visibility: hidden;
  text-indent: 16px;
  line-height: 1.3;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.accordianroot .expansion-panel-body-content {
  position: relative;
  padding: 24px;
}
.accordianroot .expansion-panel-body-content::before {
  content: "";
  left: 24px;
  top: 24px;
  height: 18px;
  width: 4px;
  position: absolute;
  border-radius: 4px;
  background: var(--primary-color);
}

.accordianroot .expansion-panel:not(.active) .expansion-panel-header:hover,
.accordianroot .expansion-panel:not(.active) .expansion-panel-header:focus {
  background: var(--hover);
}

.accordianroot .expansion-panel.active {
  box-shadow: var(--elevation-z2);
  margin: 16px 0;
  border-radius: 4px;
}
.accordianroot .expansion-panel.active .expansion-indicator {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}
.accordianroot .expansion-panel.active .expansion-panel-body {
  height: max-content;
  visibility: visible;
  -webkit-user-select: initial;
     -moz-user-select: initial;
      -ms-user-select: initial;
          user-select: initial;
}



h1.ml8 {
  font-weight: 900;
  font-size: 7em;
  color: #fff;
  width: 3em;
  height: 3em;
}

.ml8 .letters-container {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
  text-align: center;
  height: 1em;
}

.ml8 .letters {
  position: relative;
  z-index: 2;
  display: inline-block;
  line-height: 0.7em;
  right: -0.12em;
  top: -0.2em;
  
}

.ml8 .bang {
  font-size: 1.4em;
  top: auto;
  left: -0.06em;
}

.ml8 .circle {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  top: 0;
  bottom: 0;
}

.ml8 .circle-white {
  width: 3em;
  height: 3em;
  border: 2px dashed white;
  border-radius: 2em;
}

.ml8 .circle-dark {
  width: 2.2em;
  height: 2.2em;
  background-color: #4f7b86;
  border-radius: 3em;
  z-index: 1;
}

.ml8 .circle-dark-dashed {
  border-radius: 2.4em;
  background-color: transparent;
  border: 2px dashed #4f7b86;
  width: 2.3em;
  height: 2.3em;
}

.ml1 {
  font-weight: 900;
  font-size: 2.5em;
  width: 100%;
  position: absolute;
  top: 350px;
  text-align: center;
}

.ml1 .letter {
  display: inline-block;
  line-height: 1em;
}

.ml1 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;
}

.ml1 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 3px;
  width: 100%;
  background-color: #fff;
  transform-origin: 0 0;
}

.ml1 .line1 { top: 0; }
.ml1 .line2 { bottom: 0; }






.treat-button {
  font-family: 'Fascinate Inline', cursive;
  font-size: 2em;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#F46001), to(#E14802));
  background: linear-gradient(to bottom, #F46001, #E14802);
  border: none;
  color: #FFF;
  border-radius: 2em;
  padding: .6em 1.5em;
  overflow: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
  z-index: 1;
  box-shadow: 0 0 1em rgba(255, 255, 255, 0.2);
  -webkit-transition: box-shadow 0.2s, -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: box-shadow 0.2s, -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s;
  transition: transform 0.1s cubic-bezier(0.5, 0, 0.5, 1), box-shadow 0.2s, -webkit-transform 0.1s cubic-bezier(0.5, 0, 0.5, 1);
  outline: none;
}
.treat-button:hover {
  box-shadow: 0 0 2em rgba(255, 255, 255, 0.3);
}
.treat-button:active {
  -webkit-transform: scale(0.8) translateY(10%);
          transform: scale(0.8) translateY(10%);
  -webkit-transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
          transition-timing-function: cubic-bezier(0.5, 0, 0.5, 1);
}

.treat {
  --scale-x: 0;
  --scale-y: 0;
  pointer-events: none;
  display: block;
  position: absolute;
  top: 0;
  left: calc(50% - .5rem);
  border-radius: 50%;
  width: 1em;
  height: 1em;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  font-size: 5vmin;
  -webkit-transform: translate(calc( var(--x) * 1px ), calc( var(--y) * 1px )) translate(-50%, -50%);
          transform: translate(calc( var(--x) * 1px ), calc( var(--y) * 1px )) translate(-50%, -50%);
  pointer-events: none;
  -webkit-animation: treat-enter 0.1s ease-in backwards, treat-exit 300ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;
          animation: treat-enter 0.1s ease-in backwards, treat-exit 300ms linear calc( (var(--lifetime, 3000) * 1ms) - 300ms) forwards;
}
@-webkit-keyframes treat-enter {
  from {
    opacity: 0;
  }
}
@keyframes treat-enter {
  from {
    opacity: 0;
  }
}
@-webkit-keyframes treat-exit {
  to {
    opacity: 0;
  }
}
@keyframes treat-exit {
  to {
    opacity: 0;
  }
}
.treat .inner {
  -webkit-animation: inner-rotate .6s linear infinite;
          animation: inner-rotate .6s linear infinite;
  -webkit-transform: rotate(calc(-1turn * var(--direction) ));
          transform: rotate(calc(-1turn * var(--direction) ));
}
@-webkit-keyframes inner-rotate {
  to {
    -webkit-transform: none;
            transform: none;
  }
}
@keyframes inner-rotate {
  to {
    -webkit-transform: none;
            transform: none;
  }
}
