html {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background: #1d093a;
}

.fadeb {
  opacity: 0.3;
}

.loader {
  position: fixed;
  z-index: 1;
  left: 50%;
  top: 50%;
}


@media screen and (min-width: 600px) {
  .shownNumber span {
    width: 30px !important;
    margin: 0.6% !important;
  }
}

@media screen and (min-width: 1100px) {
  .shownNumber span {
    width: 3% !important;
    margin: 0.5% !important;
  }
}

.shownNumber span {
  width: 30px;
  display: inline-block;
  height: 30px;
  margin: 1.2%;
  text-align: center;
  font-size: 15px;
  border-radius: 150px;
  background: white;
  color: black;
  padding-top: 2px;
}

.clicked-cell {
  background: #FCDFB8 !important;
}
/*   .wrong-clicked-cell {
    background: #f91111c9!important;
    pointer-events: none!important;
  } */
.not-clickable {
  pointer-events: none;
}

#claim-ticket {
  border-radius: 20px;
  color: #ffffff;
  background-color: #0f3883;
  border: none;
  margin: 6px 3px;
  padding: 5px 10px;
}
#claim-ticket:hover:enabled {
  color: #0f3883;
  background-color: #ffffff;
}
#claim-ticket::after {
  color: #141e30;
  background-color: orange;
}

/*Ludo king colors :#021a42
  #fefb09 yellow
  #21409a blue
  */

.loader,
.play,
.wait,
.game-ended,
.claim-btn,
#my-canvas {
  display: none;
}

/* @media screen and (min-width: 320px) and (max-width: 767px) and (orientation: portrait) {
  html {
    transform: rotate(-90deg);
    transform-origin: left top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    left: 0;
  }
} */

.mobile-device {
  display: none;
  cursor: pointer;
  width: 35px;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 5px;
  margin-top: 10px;
}

@media screen and (max-width: 500px) {
  .mobile-device {
    display: block !important;
  }
}

@media screen and (orientation: landscape) {
  .play,
  .wait,
  .game-ended {
    margin-top: 0 !important;
  }
  .play h1 {
    margin-top: 0 !important;
  }
}

section {
  color: white;
  font-family: helvetica;
  text-transform: uppercase;
}
section div {
  display: flex;
  flex-wrap: nowrap;
  white-space: nowrap;
  min-width: 100%;
}
section div .news-message {
  display: inherit;
  flex-shrink: 0;
  height: 50px;
  align-items: center;
  animation: slide-left 40s linear infinite;
}
section div .news-message p {
  font-size: 25px;
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  padding-left: 0;
}
@keyframes slide-left {
  from {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
  }
  to {
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}
